.header {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
}
nav {
  background-color: #d3d3d3;
  color: dark grey;
  padding: 8px;
  width: 100%;
}

h3 {
  background-color: #00308f;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
}
